*{
	margin: 0;
	padding: 0;
}

#top{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	margin-top: 100px;
}

#menu{ 
	width: 120px;
	display: inline-block;
}

.menu_button{
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 10px;
	margin: 8px 10px;
	text-align: center;
	background-color: #6B747D;
	color: white;
	font-size: 15px;
}

.menu_button:hover{
	background-color: #0082C2;
}

#play_video{
	position: absolute;
	display: inline-block;
	width: 900px;
	height: 500px;
	background-color: #7F7F7F;
	color: white;
	text-align: center;
	top: 0;
}

#video{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#play_video > p{
	font-size: 40px;
	margin: 200px 0;
}

#menu_detail{
	position: absolute;
	top: 0;
	right: 0;	
	width:100px;	
	display: inline-block;
}

.detail_b{
	height: 70px;
	margin-bottom: 20px; 
}

#bottom{
	width: 900px;
	height: 400px;
	margin: 20px auto;
}

#play_time{
	width: 100%;
}

.left{
	width: 300px;
	display: inline-block;
	text-align: center;
}

.left > p{
	width: 140px;
	display: inline-block;
}

.right{
	width: 500px;
	display: inline-block;
	margin-left: 50px;
}

.right > p{
	width:120px;
	display: inline-block;
	margin: 0 20px;
}

#movie_list{
	width:800px;
	height: 300px;
	margin: 0 auto;
	margin-top: 40px;
}

.play_list{
	width: 120px;
	height: 172px;
	padding: 0 15px;
	display: inline-block;
}
.play_list > img{
	width: 100%;
	height: 100%;
}

#layer_list{
	position: relative;
	width: 90%;
	margin: 20px auto;
}

.layer{
	width: 100%;
	height: 20px;
	background-color: #EDEDED;
	border-radius: 4px;
	margin: 5px 0;
	position: relative;
}

.layer_time{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #C8C8C8;
	border-radius: 4px;
}

.canvas{
	width: 900px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
}

.text_add{
	position: absolute;
	background-color: rgba(0,0,0,0);
	width: 5px;
}

.layer_left{
	width: 10px;
	height: 100%;
	display: inline-block;
	cursor: w-resize;
}

.layer_center{
	width: calc(100% - 20px);
	height: 100%;
	display: inline-block;
}

.layer_right{
	width: 10px;
	height: 100%;
	display: inline-block;
	cursor: w-resize;
}

#time_track{
	width: 2px;
	height: 130%;
	background-color: #CD0000;
	position: absolute;
	left: -2px;
	top: -15%;
	z-index: 100;
}

#view .clip{
	position: absolute;
	pointer-events: none;
}

#view .clip.active:not(canvas){
	border-color: rgb(255, 113, 96)!important;
}

#view div.clip{
	width :1px;
	height: 1px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
}

#view span.clip{
	padding: 5px;
	height:auto;
	display: block;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}